<h1>Welcome to Home page!</h1>

<% if (user) { %>
    <p>Login data</p>
    <p>User: <%- user.email %></p>
    <p>ID: <%- user._id %></p>

<% } else { %>
    <p>Welcome to our online companies catalog.</p>
    <p>Register to add your company.</p>
<% } %>